USE [ProyectoIntegral]
GO
/****** Object:  Table [dbo].[Carritos]    Script Date: 2/11/2022 00:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carritos](
	[IdCarrito] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[FechaAgregadoACarrito] [datetime] NULL,
	[CantidadUnidades] [int] NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Carritos] PRIMARY KEY CLUSTERED 
(
	[IdCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 2/11/2022 00:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](50) NULL,
	[FotoCategoria] [varchar](100) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 2/11/2022 00:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[IdConsulta] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[FechaConsulta] [datetime] NULL,
	[DescripcionConsulta] [varchar](100) NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Consultas] PRIMARY KEY CLUSTERED 
(
	[IdConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 2/11/2022 00:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](50) NULL,
	[PrecioProducto] [int] NULL,
	[IdCategoria] [int] NOT NULL,
	[FotoProducto] [varchar](100) NULL,
	[MaterialProducto] [varchar](50) NULL,
	[DescripcionProducto] [varchar](100) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/11/2022 00:02:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[EmailUsuario] [varchar](50) NULL,
	[NombreUsuario] [varchar](50) NULL,
	[ContrasenaUsuario] [varchar](50) NULL,
	[FotoUsuario] [varchar](100) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carritos] ON 

INSERT [dbo].[Carritos] ([IdCarrito], [IdProducto], [FechaAgregadoACarrito], [CantidadUnidades], [IdUsuario]) VALUES (78, 5, CAST(N'2022-10-27T15:53:45.220' AS DateTime), 2, 1)
INSERT [dbo].[Carritos] ([IdCarrito], [IdProducto], [FechaAgregadoACarrito], [CantidadUnidades], [IdUsuario]) VALUES (83, 37, CAST(N'2022-10-29T14:38:48.157' AS DateTime), 1, 2)
INSERT [dbo].[Carritos] ([IdCarrito], [IdProducto], [FechaAgregadoACarrito], [CantidadUnidades], [IdUsuario]) VALUES (91, 40, CAST(N'2022-10-29T17:23:58.380' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Carritos] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [FotoCategoria]) VALUES (1, N'DIJES', N'https://almacendejoyas.com/img/img_articulos/thumbs/1618600475-4376570.jpg')
INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [FotoCategoria]) VALUES (2, N'ANILLOS', N'https://almacendejoyas.com/img/img_articulos/thumbs/1657551098-2056645973.jpg')
INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [FotoCategoria]) VALUES (3, N'PULSERAS', N'https://almacendejoyas.com/img/img_articulos/thumbs/1644351850-1726772900.jpg')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultas] ON 

INSERT [dbo].[Consultas] ([IdConsulta], [NombreUsuario], [FechaConsulta], [DescripcionConsulta], [IdUsuario]) VALUES (1, N'Pedrito', CAST(N'2022-10-27T13:51:30.103' AS DateTime), N'mala mia
', NULL)
INSERT [dbo].[Consultas] ([IdConsulta], [NombreUsuario], [FechaConsulta], [DescripcionConsulta], [IdUsuario]) VALUES (2, N'Pedrito', CAST(N'2022-10-27T13:52:38.107' AS DateTime), N'mala mia
', NULL)
INSERT [dbo].[Consultas] ([IdConsulta], [NombreUsuario], [FechaConsulta], [DescripcionConsulta], [IdUsuario]) VALUES (3, N'nano', CAST(N'2022-10-28T22:18:25.543' AS DateTime), N'mande una consulta', 1)
SET IDENTITY_INSERT [dbo].[Consultas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [PrecioProducto], [IdCategoria], [FotoProducto], [MaterialProducto], [DescripcionProducto]) VALUES (1, N'Ala ángel', 14800, 1, N'https://almacendejoyas.com/img/img_articulos/1649427760-1759678283.jpg', N'Plata', N'Colgante ala, 7 cm total. Calidad en materiales')
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [PrecioProducto], [IdCategoria], [FotoProducto], [MaterialProducto], [DescripcionProducto]) VALUES (2, N'Medalla virgen', 13600, 1, N'https://almacendejoyas.com/img/img_articulos/1649261551-1724549111.jpg', N'Bronce', N'Medalla virgen piedras multicolor, 3,5 cm')
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [PrecioProducto], [IdCategoria], [FotoProducto], [MaterialProducto], [DescripcionProducto]) VALUES (3, N'Anillo solitario', 8400, 2, N'https://almacendejoyas.com/img/img_articulos/1657813281-1060550454.jpg', N'Oro', N'Anillo solitario, amarillo, piedra ovalada, medio sin fin')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [EmailUsuario], [NombreUsuario], [ContrasenaUsuario], [FotoUsuario]) VALUES (1, N'nanocaceres2005@gmail.com', N'nano', N'naano', NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [EmailUsuario], [NombreUsuario], [ContrasenaUsuario], [FotoUsuario]) VALUES (2, N'tomasforni@gmail.com', N'Tomas Forni', N'atlanta', NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [EmailUsuario], [NombreUsuario], [ContrasenaUsuario], [FotoUsuario]) VALUES (4, N'lionelmessi@gmail.com', N'lio messi', N'lionel', N'/fotosUsuarios/LogoEfsiPagaYa-03.png')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Carritos]  WITH CHECK ADD  CONSTRAINT [FK_Carritos_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Carritos] CHECK CONSTRAINT [FK_Carritos_Productos]
GO
ALTER TABLE [dbo].[Carritos]  WITH CHECK ADD  CONSTRAINT [FK_Carritos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carritos] CHECK CONSTRAINT [FK_Carritos_Usuarios]
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consultas] CHECK CONSTRAINT [FK_Consultas_Usuarios]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
