@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="banner1 d-flex justify-content-center">
        <p class="mt-2">TIENDA ONLINE CON ENVIO A TODO EL PAIS</p>
    </div>      
    <img src="/Imagenes/image.png" alt="" width="100%">   

</div>

<h3 class="text-center mt-5">Nuestras categorias</h3>


    <div class="row mb-4 mt-3">
        <div class="col-sm d-flex justify-content-center">     
            @foreach(Categoria cat in @ViewBag.Categorias){      
            <div class="card text-center" style="width: 20%;"> 
                <a href=""><img class="card-img-top imgCategoria" src="@cat.FotoCategoria" alt="Card image cap"></a>
                <div class="card-body">
                    <a href="" style="text-decoration:none;"><h5 class="h5">@cat.NombreCategoria</h5></a>
                </div>
            </div> 
            }
            
              
        </div>        
    </div>
 
