@{
    ViewData["Title"] = "Login";
}

<div class="popup">    
    <div class="form">
        <h2 class="">LOG IN</h2>
        <div class="form-element">
            <label for="email">Email</label>
            <input autocomplete="off" type="text" id="email" placeholder="Ingresa tu email">            
        </div>
        <div class="form-element">
            <label for="password">Contraseña</label>
            <input autocomplete="off" type="password" id="password" placeholder="Ingresa tu contraseña">            
        </div>
        
        <div class="form-element mt-4">
            <button>Iniciar Sesión</button>       
            <p class="text-center mt-2">¿No tenés cuenta? <a href="">Crear una</a></p>
        </div>
    </div>

</div>