@{
    ViewData["Title"] = "Login";
}

<div class="popup">    
    <form class="form" method="post" action='@Url.Action("GuardarRegistro", "Home")' enctype="multipart/form-data">
        <h2 class="">Registro</h2>
        @if(@ViewBag.RegistroCorrecto == false)
        {
            <p class="mt-2" style="color: red;">Usuario con mail ya existente</p>
        }  
        <div class="form-element">
            <label for="email">MAIL*</label>
            <input autocomplete="off" type="email" placeholder="Ingresa tu mail" name="EmailUsuario" required>             
        </div>
        <div class="form-element">
            <label for="email">Nombre*</label>
            <input autocomplete="off" type="text" placeholder="Ingresa tu nombre" name="NombreUsuario" required>             
        </div>
        <div class="form-element">
            <label for="password">CONTRASEÑA*</label>
            <input autocomplete="off" type="password" name="ContrasenaUsuario" placeholder="Ingresa tu contraseña" required>                 
        </div>

        <div class="form-element">
            <label for="password">Foto*</label>
            <input type="file" class="form-control-file  opacity-75 forms" name="FotoUsuario" autocomplete="off" required>
                           
        </div>            
        
        <div class="form-element mt-4">
            <button type="submit" class="botonIniciar">Registrarse</button>         
        </div>
    </form>

</div>

