@font-face {
  font-family: fuente;
  src: url('/fuente.ttf') format('truetype');
}

html {
  font-size: 14px;  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar{
  
  height: 70px;
}

.navbar-nav{
  
  width: 25px;
}

.logoNav{
  height: 45px;
  width: auto;
  margin: 0 0 0 100%;
}

.carrito{
  height: 35px;
  width: auto;
  margin-right: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: fuente;
  
}

.banner1{
  
  width: 100%; 
  height:40px; 
  background-color:black;
  color: white;  
}

.card{
  border: none;
}

.imgCategoria{
  width: 70%;
  height: auto;
}

a h5{
  color: grey;
  text-decoration-line:overline;
  
    
}
