@font-face {
  font-family: fuente;
  src: url('/fuente.ttf') format('truetype');
}

html {
  font-size: 14px;  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar{
  
  height: 70px;
}

.navbar-nav{
  
  width: 25px;
}

.logoNav{
  height: 45px;
  width: auto;
  margin: 0 0 0 100%;
}

.carrito{
  height: 35px;
  width: auto;
  margin-right: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: fuente;
  
}

.banner1{
  
  width: 100%; 
  height:40px; 
  background-color:black;
  color: white;  
}

.card{
  border: none;
}

.imgCategoria{
  width: 70%;
  height: auto;
}

a h5{
  color: grey;
  text-decoration-line:overline; 
    
}

.imgProductoCarousel{
  width: 20%;
  height: auto;
  margin: auto;

}

.productos{
  width: 100%;
  margin: auto;
}

/*.contenedor:hover .imagen {-webkit-transform:scale(1.3);transform:scale(1.3);} */
.contenedor {overflow:hidden;}

.border{
  border: 5px solid black;
}

#listaProductos{
  margin: auto;
}


#contenedor{
  border: 3px solid black;
  justify-content: center;
}

.FotoProducto {
  position: relative;
  width:90%;
  height:auto;
  text-align: center;
  object-fit: cover;
  border: 3px solid black  ;
}

.centerr {
  position: absolute;
  top: 46%;
  right: 33px;
  width: 80%;  
  height: 15%;
  font-size: 18px;
  margin: auto;
  padding-top: 20px;
  background-color: black;
  color: white;
  border-radius: 0%;
  text-align: center;  
   
}

#boton{
  display: none;
}

#contenedor:hover > #boton{
  display: block;
}

.flex-container{
  display: flex;
}

.flex-item{
  flex: 1;
}
